<h1>
  Image Sharer
</h1>
<a href="/images/new">New Image</a>
<table>
  <% @images.each do |image| %>
    <tr>
      <td>
        <%= image_tag image.url %>
      </td>
      <td>
        <% image.tag_list.each do |tag| %>
          <a id="tag-link" href='<%= search_path tag %>'><%= tag %></a>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
